<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
</head>
<body>
        <h1>New Posts</h1>
        <form method="post" action="/post" >
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="roll" placeholder="Roll">
            <textarea name="content" id=""></textarea>
            <button>Submit</button>
        </form>
</body>
</html>